.button {
	transform: translateX(0%);
	display: inline-block;

	.secondary {
		background: theme('colors.secondary');
	}
}

.left-shadow {
	&::after {
		content: '';
		width: 110%;
		height: 80%;
		background: theme('colors.primary');
		position: absolute;
		z-index: -5;
		left: -25%;
		top: 35%;
	}
}

.right-shadow {
	&::after {
		content: '';
		width: 110%;
		height: 80%;
		background: theme('colors.primary');
		position: absolute;
		z-index: -5;
		right: -25%;
		top: 35%;
	}
}

.center-shadow {
	&::after {
		content: '';
		width: 70%;
		height: 80%;
		background: theme('colors.primary');
		position: absolute;
		z-index: -5;
		right: 15%;
		top: 35%;
	}
}
