.step-indicator {
	transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

	&.active {
		transform: rotate(45deg);
		background-color: theme('colors.primary');
	}

	&.inactive {
		transform: rotate(0);
		background-color: theme('colors.secondary');
	}
}
