.link {
	transform: translateX(0%);
	display: inline-block;
}

.link::after {
	content: '';
	width: 110%;
	height: 80%;
	background: theme('colors.secondary');
	position: absolute;
	z-index: -5;
	left: -25%;
	top: 35%;
}
