@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');

html {
	@apply text-white;
	background-color: theme('colors.ternary');
	scroll-behavior: smooth;
}

.section-text {
	writing-mode: vertical-lr;
}
