@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Staatliches&display=swap');

html {
	@apply text-white;
	background-color: theme('colors.ternary');
}

.marker {
	transform: translateX(0%);
	display: inline-block;
}

.marker::after {
	content: '';
	width: 100%;
	height: 80%;
	background: theme('colors.secondary');
	position: absolute;
	z-index: -5;
	left: -10%;
	top: 35%;
}

.section-text {
	writing-mode: vertical-lr;
}
